html, body {
    background-color: #194a7a;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

header {
    height:31px;
}

#bio-section {
    width: 35rem;
}

.exp-section {
    width: 35em;
}

#bio-desc {
    text-align: justify;
}

.contact-text {
    text-align: left;
}

#profile-pic {
    width: 150px;
    height: 150px;
}

#bio-row {
    height: 100%;
    display: flex;
    align-content: center;
}
.exp-row {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 20px;
}

.card {
    background-color: #d1dbe4;
}


#bio-col {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.exp-col {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#img-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-img-top {
    border-radius: 500px;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    z-index: 300;
    width: 100%;
    top: 0;
    background-color: #d1dbe4;
}

.navbar-nav {
    margin-left: 5px;
}

.navbar-toggler {
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    background-color: #d1dbe4;
    z-index: 300;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 25px;
}

.list-group {
    border-radius: 5px;
}

#button-col {
    display: flex;
    justify-content: center;
}

.resume-button {
    background-color: #d1dbe4;
    color: #0000008C;
    border: 0;
}

.resume-button:hover, .resume-button:focus {
    background-color: #d1dbe4;
    color: var(--bs-navbar-hover-color);
}

#resume-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#btn-download-resume {
    background-color: #194a7a;
    border: 0;
}

